<div class="sidebar primary_bg" (mouseenter)="hovered = true" (mouseleave)="hovered = false"
    [ngClass]="{ 'sidebar-open': hovered, 'sidebar-close': !hovered }">
    <div class="my-3">
        <img src="./../../assets/images/logo-sidebar.png" class="sidebar-logo" alt="Sidebar Logo" />
    </div>
    <ul class="list-unstyled px-0 py-2 my-2">
        <ng-container *ngFor="let item of menu">
            <li *ngIf="item.isActive" class="mb-3" [routerLinkActive]="'active'">
                <a [routerLink]="item.menuLink" class="px-4 d-flex align-items-baseline">
                    <span><i class="fa-solid me-3 fs-4" [ngClass]="item.icon"></i></span>
                    <span *ngIf="hovered">{{ item.title }}</span>
                </a>
            </li>
        </ng-container>

        <!-- <li data-bs-toggle="modal" data-bs-target="#changePassword" class="mb-3">
            <a class=" px-4 d-flex align-items-baseline">
                <i class="fa-solid fa-unlock  me-3 fs-4"></i>
                <span *ngIf="hovered">Change Password</span>
            </a>
        </li> -->
        <!-- <li (click)="logout()" class="mb-3">
            <a class=" px-4 d-flex align-items-baseline">
                <i class="fa-solid fa-right-from-bracket me-3 fs-4"></i>
                <span *ngIf="hovered">Logout</span>
            </a>
        </li> -->
    </ul>
</div>
<app-change-pass></app-change-pass>