<div class="sidebar primary_bg fixed-top z-3" (mouseenter)="hovered = true" (mouseleave)="hovered = false"
    [ngClass]="{ 'sidebar-open': hovered, 'sidebar-close': !hovered }">
    <div class="my-3">
        <img src="./../../assets/images/logo-sidebar.png" class="sidebar-logo" alt="Sidebar Logo" />
    </div>
    <ul class="list-unstyled px-0 py-2 my-2">
        <ng-container *ngFor="let item of menu">
            <li *ngIf="item.isActive" class="mb-3" [routerLinkActive]="'active'">
                <a [routerLink]="item.menuLink" class="px-4 d-flex align-items-baseline">
                    <span><i class="fa-solid me-3 fs-4" [ngClass]="item.icon"></i></span>
                    <span *ngIf="hovered">{{ item.title }}</span>
                </a>
            </li>
        </ng-container>

        <li data-bs-toggle="modal" data-bs-target="#changePassword" class="mb-3">
            <a class=" px-4 d-flex align-items-baseline">
                <i class="fa-solid fa-unlock  me-3 fs-4"></i>
                <span *ngIf="hovered">Change Password</span>
            </a>
        </li>
        <li routerLink="/dashboard/home" class="mb-3">
            <a class=" px-4 d-flex align-items-baseline">
                <i class="fa-solid fa-right-from-bracket me-3 fs-4"></i>
                <span *ngIf="hovered">Logout</span>
            </a>
        </li>
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4 rounded-4 shadow-lg border-0">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="d-flex flex-column align-items-center">

                <!-- Logo -->
                <div class="logo text-center mb-3">
                    <img src="../../../assets/images/logo.png" class="img-fluid" alt="logo" style="max-height: 60px;" />
                </div>
                <div class="header_auth text-black">
                    <h1>Change Your Password</h1>
                    <p>Enter your details below</p>
                </div>
                <div class="form-content">
                    <form [formGroup]="changeForm" (ngSubmit)="changePass(changeForm)">
                        <!-- old password -->
                        <div class="input-group mb-3">
                            <span class="input-group-text left"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="oldPassword" [type]="isHide?'password':'text'" class="form-control"
                                placeholder="oldPassword" aria-label="oldPassword">
                            <button type="button" (click)="isHide=!isHide" class="input-group-text"><i
                                    class="fa-regular" [ngClass]="isHide?'fa-eye-slash':'fa-eye'"></i></button>
                        </div>
                        <ng-container
                            *ngIf="changeForm.get('oldPassword')?.touched && changeForm.get('oldPassword')?.errors?.['required']">
                            <p class="alert alert-danger text-center" role="alert">
                                Oops! oldPassword required!
                            </p>

                        </ng-container>
                        <ng-container
                            *ngIf="changeForm.get('oldPassword')?.touched && changeForm.get('oldPassword')?.errors?.['pattern']">
                            <p class="alert alert-warning text-center" role="alert">
                                Max 10 chars, must include uppercase, lowercase, number & special
                                character.
                            </p>
                        </ng-container>
                        <!-- new password -->
                        <div class="input-group mb-3">
                            <span class="input-group-text left"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="newPassword" [type]="isHide?'password':'text'" class="form-control"
                                placeholder="newPassword" aria-label="newPassword">
                            <button type="button" (click)="isHide=!isHide" class="input-group-text"><i
                                    class="fa-regular" [ngClass]="isHide?'fa-eye-slash':'fa-eye'"></i></button>
                        </div>
                        <ng-container
                            *ngIf="changeForm.get('newPassword')?.touched && changeForm.get('newPassword')?.errors?.['newPassword']">
                            <p class="alert alert-danger text-center" role="alert">
                                Oops! newPassword required!
                            </p>

                        </ng-container>
                        <ng-container
                            *ngIf="changeForm.get('newPassword')?.touched && changeForm.get('newPassword')?.errors?.['pattern']">
                            <p class="alert alert-warning text-center" role="alert">
                                Max 10 chars, must include uppercase, lowercase, number & special
                                character.
                            </p>
                        </ng-container>
                        <!-- confirm New Password -->
                        <div class="input-group mb-3">
                            <span class="input-group-text left"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="confirmNewPassword" [type]="isHide?'password':'text'"
                                class="form-control" placeholder="confirmNewPassword" aria-label="confirmNewPassword">
                            <button type="button" (click)="isHide=!isHide" class="input-group-text"><i
                                    class="fa-regular" [ngClass]="isHide?'fa-eye-slash':'fa-eye'"></i></button>
                        </div>
                        <ng-container
                            *ngIf="changeForm.get('confirmNewPassword')?.touched && changeForm.get('confirmNewPassword')?.errors?.['required']">
                            <p class="alert alert-danger text-center" role="alert">
                                Oops! confirmNewPassword required!
                            </p>

                        </ng-container>
                        <ng-container
                            *ngIf="changeForm.get('confirmNewPassword')?.touched && changeForm.get('confirmNewPassword')?.errors?.['pattern']">
                            <p class="alert alert-warning text-center" role="alert">
                                Max 10 chars, must include uppercase, lowercase, number & special
                                character.
                            </p>
                        </ng-container>
                        <div class="text-center my-4">
                            <button [disabled]="changeForm.invalid" class="btn_green w-100">Change
                                Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>