<section>
    <div class="container-fluid">
        <div class="content_welcome">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 title ">
                        <div class="header">
                            <h2>Welcome</h2>
                            <span>{{userName}}!</span>
                        </div>
                        <p>This is a welcoming screen for the entry of the application ,<br> you can now see the options
                        </p>
                    </div>
                    <div class="col-md-4 img_welcome text-center">
                        <img src="../../../../assets/images/vectorBg-home.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content_recipe">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 title ">
                        <div class="header">
                            <h3>Fill the <span>Recipes</span> !</h3>
                        </div>
                        <p>you can now fill the meals easily using the table and form ,<br> click here and sill it with
                            the table !</p>
                    </div>
                    <div class="col-md-4 img_welcome  text-center">
                        <button routerLink="/dashboard/admin/recipes" class="btn_green">Fill Recipes <i
                                class="fa-solid fa-arrow-right fs-6"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>