section {
    margin: 20px 10px;
    padding-block: 8px;
    border-radius: 16px;
    background: #F8F9FB;

    .input_search {
            width: 100%;
          box-sizing: border-box; 
        position: relative;

        input {
            width: 100%;
            background: #FFFFFF;
            border-color: transparent;
            border-radius: 15px;
            padding: 9px 30px;
            font-size: 14px;
            outline: none;
            color: #1F263E;
            font-family: Inter;
            font-weight: 500;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 24px;
        }


    }

    .img_Profile {
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        h4 {
            color: #1F384C;
            font-family: Inter;
            font-weight: 500;
            font-size: 17px;

        }
    }

    .dropdown {
        .btn_dropdown {
            background: transparent;
        }
    }

}