<nav class="px-3">
    <div class="row gy-2 align-items-center justify-content-between">
        <div class="col-md-7">
            <div class="input_search px-3">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" name="search" id="search" placeholder="Search Here" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex align-items-center justify-content-between mx-2">
                <div class="img_Profile d-flex align-items-center gap-2">
                    <img [src]="imgProfile" alt="imageProfile">
                    <h4>{{userName}}</h4>
                </div>
                <div class="dropdown">
                    <button class="btn_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-angle-down fs-5"></i>

                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div>
                    <i class="fa-solid fa-bell fs-4 position-relative">
                        <span
                            class="position-absolute bottom-50 end-0 p-2 bg-danger border border-light rounded-circle">
                        </span>
                    </i>
                </div>
            </div>
        </div>
    </div>

</nav>