.imageProfile {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    box-shadow: -1px 6px 20px 0px var(--primary-color);

}