<div class="modal fade" id="viewItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="viewItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4 rounded-4 shadow-lg border-0">
            <div class="d-flex  justify-content-between">
                <h2>Details</h2>
                <button type="button" class="btn btn_close ms-auto" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark text-danger"></i></button>
            </div>
            <div>
                <form [formGroup]="ViewItem" class="d-flex flex-column mt-3 gap-4">
                    <div>
                        <label for="id">Id</label>
                        <input formControlName="id" type="text" class="form-control" placeholder="Category Name ">
                    </div>
                    <div>
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Category Name ">
                    </div>
                    <div>
                        <label for="modificationDate">Modification Date</label>
                        <input [value]="ViewItem.get('modificationDate')?.value | date:'dd/MM/yyyy HH:mm'"
                            formControlName="modificationDate" type="text" class="form-control"
                            placeholder="Category Name ">
                    </div>
                    <div>
                        <label class="form-label" for="creationDate">Creation Date</label>
                        <input [value]="ViewItem.get('creationDate')?.value | date:'dd/MM/yyyy HH:mm'"
                            formControlName="creationDate" type="text" class="form-control"
                            placeholder="Category Name ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>